---
import ReactSVG from "../SVG/ReactSVG.astro"
import AstroSVG from "../SVG/AstroSVG.astro"
import JavaScriptSVG from "../SVG/JavaScriptSVG.astro"
import CssSVG from "../SVG/CssSVG.astro"
import HTML5 from "../SVG/HTML5.astro"
import SkillCard from "../components/SkillCard.astro"
import TypeScriptSVG from "../SVG/TypeScriptSVG.astro"
import TailwindCssSVG from "../SVG/TailwindCssSVG.astro"
import PrismaOrmSVG from "../SVG/PrismaOrmSVG.astro"
import ExpressJsSVG from "../SVG/ExpressJsSVG.astro"
import NextJsSVG from "../SVG/NextjsSVG.astro"
import NodeJsSVG from "../SVG/NodeJsSVG.astro"
import SqlSVG from "../SVG/SqlSVG.astro"
import MySqlSVG from "../SVG/MySqlSVG.astro"
import WebpackSVG from "../SVG/WebpackSVG.astro"
import ESlintSVG from "../SVG/ESlintSVG.astro"
import LinuxSVG from "../SVG/LinuxSVG.astro"
import GitHubTwoSVG from "../SVG/GitHubTwoSVG.astro"
import GitSVG from "../SVG/GitSVG.astro"
import UmlSVG from "../SVG/UmlSVG.astro"
import BemSVG from "../SVG/BemSVG.astro"
import ArduinoSVG from "../SVG/ArduinoSVG.astro"




---

<section id="aboutSection"  class="aboutSection__container ">
    <div class='aboutSection__info' >
        <h2 class='about__title about__title--about'>Sobre mí</h2>
        <img class="about__perfile--picture lazy__loading" src="/img/linux 2.jpg" alt="" />
        <ul>
            <li class='about__item lazy__loading'>
                <div>
                    <svg width="4rem" viewBox="0 -960 960 960" fill="#ffffff"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-40-82v-78q-33 0-56.5-23.5T360-320v-40L168-552q-3 18-5.5 36t-2.5 36q0 121 79.5 212T440-162Zm276-102q20-22 36-47.5t26.5-53q10.5-27.5 16-56.5t5.5-59q0-98-54.5-179T600-776v16q0 33-23.5 56.5T520-680h-80v80q0 17-11.5 28.5T400-560h-80v80h240q17 0 28.5 11.5T600-440v120h40q26 0 47 15.5t29 40.5Z" /></svg>
                </div>
                <p class='about__country'>
                    Soy de Argentina.
                </p>
            </li>
            {/* <li><p class='about__experience'>Proximamente</p></li> */}
            <li class='about__item lazy__loading'>
                <div>
                    <svg width="4rem"  viewBox="0 -960 960 960" fill="#ffffff"><path d="M240-80v-172q-57-52-88.5-121.5T120-520q0-150 105-255t255-105q125 0 221.5 73.5T827-615l52 205q5 19-7 34.5T840-360h-80v120q0 33-23.5 56.5T680-160h-80v80h-80v-160h160v-200h108l-38-155q-23-91-98-148t-172-57q-116 0-198 81t-82 197q0 60 24.5 114t69.5 96l26 24v208h-80Zm254-360Zm-54 80h80l6-50q8-3 14.5-7t11.5-9l46 20 40-68-40-30q2-8 2-16t-2-16l40-30-40-68-46 20q-5-5-11.5-9t-14.5-7l-6-50h-80l-6 50q-8 3-14.5 7t-11.5 9l-46-20-40 68 40 30q-2 8-2 16t2 16l-40 30 40 68 46-20q5 5 11.5 9t14.5 7l6 50Zm40-100q-25 0-42.5-17.5T420-520q0-25 17.5-42.5T480-580q25 0 42.5 17.5T540-520q0 25-17.5 42.5T480-460Z" /></svg>
                </div>
                <p class='about__Enthusiasm'>
                    Me encantan los retos de código y electrónica.
                </p>
            </li>
            <li class='about__item lazy__loading'>
                <div  >
                    <svg width="4rem"  viewBox="0 -960 960 960" fill="#ffffff"><path d="M480-260q68 0 123.5-38.5T684-400H276q25 63 80.5 101.5T480-260ZM312-520l44-42 42 42 42-42-84-86-86 86 42 42Zm250 0 42-42 44 42 42-42-86-86-84 86 42 42ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Z" /></svg>
                </div>
                <p class='about__hobbies'>
                    Dedico la mayor parte de mi tiempo libre a aprender para crear proyectos relacionados con la electrónica y la programación.
                </p>
            </li>
        </ul>
        <h2 class='about__title about__title--skills'>Habilidades en programación</h2>
        <div class='about__skills__container'>
            <h2 class='about__skills--subtitle'>Front-end:</h2>
            <SkillCard title="CSS3" >
                <CssSVG  class="svg" />
            </SkillCard>
            <SkillCard title="HTML5">
                <HTML5 class="svg" />
            </SkillCard>
            <SkillCard title="JavaScript">
                <JavaScriptSVG class="svg"/>
            </SkillCard>
            <SkillCard title="TypeScript">
                 <TypeScriptSVG class="svg"/>
            </SkillCard>
            <SkillCard title="React">
                <ReactSVG class="svg"/>
            </SkillCard>
            <SkillCard title="Astro">
                <AstroSVG class="svg"/>
            </SkillCard>
            <SkillCard title="TailwindCSS">
                <TailwindCssSVG class="svg"/>
            </SkillCard>



            <h2 class='about__skills--subtitle'>Back-end y Bases de Datos:</h2>

            <SkillCard title="PrismaORM">
                <PrismaOrmSVG class="svg"/>
            </SkillCard>
            <SkillCard title="ExpressJS">
                <!-- <PrismaOrmSVG class="svg"/> -->
                 <ExpressJsSVG class="svg"/>
            </SkillCard>
            <SkillCard title="NextJS">
                <NextJsSVG class="svg"/>
            </SkillCard>
            <SkillCard title="NodeJS">
                <NodeJsSVG class="svg"/>
            </SkillCard>
            <SkillCard title="SQL">
                <SqlSVG class="svg"/>
            </SkillCard>
            <SkillCard title="MySQL">
                 <MySqlSVG class="svg"/>
            </SkillCard>


            <h2 class='about__skills--subtitle'>Herramientas y Otras Tecnologías:</h2>
            <SkillCard title="Webpack">
                 <WebpackSVG class="svg"/>
            </SkillCard>
            <SkillCard title="Linux">
                <LinuxSVG class="svg"/>
           </SkillCard>
           <SkillCard title="ESlint">
            <ESlintSVG class="svg"/>
           </SkillCard>
           <SkillCard title="Github">
            <GitHubTwoSVG class="svg"/>
           </SkillCard>
           <SkillCard title="Git">
            <GitSVG class="svg"/>
           </SkillCard>
           <SkillCard title="UML">
            <UmlSVG class="svg"/>
           </SkillCard>
           <SkillCard title="BEM">
            <BemSVG class="svg"/>
           </SkillCard>
           <SkillCard title="Arduino">
            <ArduinoSVG class="svg"/>
           </SkillCard>

            {/* <div class='skill__card learning'>
                <div class='card__message'>No disponible. Aun</div>
                <img src="img/icons/typescript-icon-dissable.png" alt="" />
                <p>TypeScript</p>
            </div> */}
        </div>
    </div>
</section>

<style>
    .aboutSection__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutSection__info{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "title    title    title" 
    "section1 section2 section2"
    "section1 section2 section2"
    "title2   title2   title2"
    "skills   skills   skills"
    ;
    border-radius: 10px;
    padding: 20px;
    background-color: #0f172a1a;
    border: 2px solid rgb(44, 96, 121);

}
.about__title{
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}
.about__title--about {
    grid-area: title;
    padding-bottom: 4rem;
}

.aboutSection__info img{
    grid-area: section1;
    height: 360px;
    width: 300px;
    border-radius: 10px;
    justify-self: end;
    margin-right: 15%;
    box-shadow: .5rem .3rem 0px rgb(44, 96, 121), 10px 10px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.068) ;

}
.aboutSection__info ul{
    grid-area: section2;
    font-size: 1.7rem;
    list-style: none;
    padding-left: 0;
}
.aboutSection__info .about__item{
    display: flex;
    align-items: center;
}

.about__skills--subtitle{
 width: 100%;
 font-size: 1.9rem;
 margin-top: 5rem;
}

.about__title--skills{
grid-area: title2;
}
.about__skills__container{
    grid-area: skills;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-start ;

    width: 100%;
    flex-wrap: wrap; /* que el contenido se distribulla en varias filas */
    padding-bottom:5%;
}
.about__skills__container svg, .svg  {
    margin: 3rem;
    width: 5.7rem;
    height: 6rem;
}

/* .about__skills__container .skill__card p{
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.9);
} */

/*///////////////////////////////////////////////////estados  */
.about__skills__container .learning{
        background-color: #020617;
        /* box-shadow: none; */
    box-shadow: .5rem .3rem 0px #64748bb2, 10px 10px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.068) ;
    position: relative;

}
.about__skills__container .learning svg{
    fill: #475569 ;
}
.about__skills__container .learning p{ 
    color: #64748b ;
    text-shadow:none;
}
.about__skills__container .learning .card__message{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: #00000000;
    color:#00000000 ;
    transition: color 0.3s ease-in-out;
}

.about__skills__container .learning .card__message:hover{
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(1px);
    color: #94a3b8;
}
@media screen and (max-width: 1100px) {
    .aboutSection__info{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "title    " 
        "section1  "
        "section2"
        "title2  "
        "skills "
        ;
    }
    .aboutSection__info img{
        justify-self: center;
        margin: 0;
    }
    .skill__card{
    box-shadow: .5rem .3rem 0px rgb(44, 96, 121), 10px 10px 4px rgba(0, 0, 0, 0.9) ;

    }
    .skill__card svg, .svg{
        margin: 2.8rem;
        width: 4rem;
        height: 4rem;
        /* margin: 2rem;    */
    }
    /* .skill__card img{
        margin: 1rem;   

    } */
    .about__skills__container .learning .card__message{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1100px) {
.skill__card{
    box-shadow: .5rem .3rem 0px rgb(44, 96, 121), 10px 10px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.9) ;
}
}
</style>