<section class='pre-footer__container lazy__loading'>
    <h2 class='pre-footer__text'>Gracias por tu tiempo</h2>
    <h2>Nos vemos pronto</h2>
    <h1>{':)'}</h1>
</section>

<style>
    .pre-footer__container{
    padding-top: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 59vh;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}
</style>