.aboutSection__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutSection__info{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "title    title    title" 
    "section1 section2 section2"
    "section1 section2 section2"
    "title2   title2   title2"
    "skills   skills   skills"
    ;
    border-radius: 10px;
    padding: 20px;
    background-color: #0f172a1a;
    border: 2px solid rgb(44, 96, 121);
}
.about__title{
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}
.about__title--about {
    grid-area: title;
    padding-bottom: 4rem;
}

.aboutSection__info img{
    grid-area: section1;
    height: 360px;
    width: 300px;
    border-radius: 10px;
    justify-self: end;
    margin-right: 15%;
    box-shadow: .5rem .3rem 0px rgb(44, 96, 121), 10px 10px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.068) ;

}
.aboutSection__info ul{
    grid-area: section2;
    font-size: 1.7rem;
    list-style: none;
    padding-left: 0;
}
.aboutSection__info .about__item{
    display: flex;
    align-items: center;
}
.about__item svg {
    width: 60px ;
    height: 60px ;
    margin: 0 1rem ;
}
.about__skills--subtitle{
 width: 100%;
 font-size: 1.9rem;
 margin-top: 5rem;
}

.about__title--skills{
grid-area: title2;
}
.about__skills__container{
    grid-area: skills;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-start ;

    width: 100%;
    flex-wrap: wrap; /* que el contenido se distribulla en varias filas */
    padding-bottom:5%;
}
.about__skills__container svg {
    margin: 3.3rem;
    width: 5rem;
    height: 5rem;
}
.skill__card img{
    margin: 3.3rem;
    box-shadow: none;
    width: 5rem;
    height: 5rem;
}
.about__skills__container .skill__card{
    margin: 1rem;
    border: 3px solid rgb(54, 120, 151);/*  rgb(44, 96, 121)*/
    border-radius: 5px;
}
.about__skills__container .nextjs--img {
    background-color: black;
    border-radius: 50%;
}
.about__skills__container .js--img {
    border-radius: 25px;
}
.about__skills__container .github--img {
    background-color: white;
    border-radius: 50%;
    border: black 2px solid;
    padding: 3px;
    height: 70px;
    width: 70px;
}


.about__skills__container .skill__card p{
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.9);
}

/*///////////////////////////////////////////////////estados  */
.about__skills__container .learning{
        background-color: #020617;
        /* box-shadow: none; */
    box-shadow: .5rem .3rem 0px #64748bb2, 10px 10px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.068) ;
    position: relative;

}
.about__skills__container .learning svg{
    fill: #475569 ;
}
.about__skills__container .learning p{ 
    color: #64748b ;
    text-shadow:none;
}
.about__skills__container .learning .card__message{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: #00000000;
    color:#00000000 ;
    transition: color 0.3s ease-in-out;
}

.about__skills__container .learning .card__message:hover{
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(1px);
    color: #94a3b8;
}
@media screen and (max-width: 1100px) {
    .aboutSection__info{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "title    " 
        "section1  "
        "section2"
        "title2  "
        "skills "
        ;
    }
    .aboutSection__info img{
        justify-self: center;
        margin: 0;
    }
    .skill__card{
    box-shadow: .5rem .3rem 0px rgb(44, 96, 121), 10px 10px 4px rgba(0, 0, 0, 0.9) ;

    }
    .skill__card svg{
        margin: 2rem;   
    }
    .skill__card img{
        margin: 2rem;   

    }
    .about__skills__container .learning .card__message{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1100px) {
.skill__card{
    box-shadow: .5rem .3rem 0px rgb(44, 96, 121), 10px 10px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.9) ;
}
}