.aboutSection__container{
    width: 100%;
    /* background-color: red; */
    /* border-top: 10px solid gray; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutSection__info{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "title title "
    "section1 section2"
    "section1 section2"
    ;
    border-radius: 10px;
    padding: 20px;
    background-color: #0f172a;
    border: 2px solid rgb(44, 96, 121);
}
.aboutSection__info h2{
    grid-area: title;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.aboutSection__info img{
    grid-area: section1;
    /* max-width: 100%; */
    /* background-image: url('./fakePerfile.jpg'); */
    height: 200px;
    border-radius: 10px;
}
.aboutSection__info ul{
    grid-area: section2;
    font-size: 1.7rem;
    list-style: none;
}
/* .aboutSection__info .icons{
    width: 1.5rem;
    height: 1.5rem;
    fill: red; 
} */
svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: aliceblue; 
}
