.mainSection__container{
    padding-top: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}
.main__greeting{
    font-weight: 500;
}
.main__name{
    font-size: 7rem;
    letter-spacing: .5rem;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), -2px -2px 4px rgba(255, 255, 255, 0.9); */
    text-shadow: .9rem .5rem 0px rgb(44, 96, 121), 10px 10px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.9) ;
}
