.proyectsSection__container{
    width: 100%;
    /* background-color: red; */
    /* border-top: 10px solid gray; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.proyects__container{
    margin-top: 2rem;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "title title "
    "section1 section2"
    "section1 section2"
    "title2   title2"
    "skills   skills "
    /* "skills   skills " */
    ;
    border-radius: 10px;
    padding: 20px;
    background-color: #0f172a;
    border: 2px solid rgb(44, 96, 121);
}
.proyects__container .proyects__title {
    grid-area: title;
    text-align: center;
}
.proyects__container .proyects__cards__container{
    grid-area: skills;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap; /* que el contenido se distribulla en varias filas */
    padding:5% 0;
}
.proyects__container .proyects__cards__container .proyect__card{
    margin: 1rem;
    border: 3px solid rgb(54, 120, 151);/*  rgb(44, 96, 121)*/
    border-radius: 5px;
    box-shadow: .5rem .3rem 0px rgb(44, 96, 121), 10px 10px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.9) ;
    /* padding: .7rem; */
    text-align: center;
}
.proyect__card .card__title{
    width: 100%;
    text-decoration: underline;
}
.card__button{
    background-color: #334155;
    border-radius: 5px;
    border: 3px solid rgb(54, 120, 151);
    padding: 5px;
    margin: 20px;
    color: aliceblue;
}
.proyect__card img{
    width: 25rem;
}