.nav{
    display: flex;
    justify-content: space-between;
    background: rgba(10, 11, 26, 0.904);
    /* background-color: blur(5px);; */
    backdrop-filter: blur(10px);
    color: aliceblue;
    padding: 10px auto 10px auto;
    align-items: center; 
    border-bottom: 4px solid rgba(160, 179, 204, 0.486);
    position: fixed;
    width: 100vw;
    /* box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); */
    /* filter: blur(5px); */
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.096);
}

.nav__name--email {
    font-size: larger;
    text-align: end;
    color: rgba(240, 248, 255, 0.829);
    padding-left: 2rem;
}
.nav__name--email h3,h4{
    margin: 0px;
}
.nav__sections{
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 1.5rem;
}
.nav__sections a {
    height: 2rem;
    padding: 10px 30px;
    /* margin: 10px; */
    border-radius: 5px;
    /* border: 2px solid rgba(0, 192, 250, 0.116); */
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__sections a:hover{
    color: white;
}
/* .nav__sections__a--objetivos svg{
    transform: rotate(180deg);
} */



.nav__github--linkedin{
    padding-right: 2rem;
    font-weight: bolder;
    margin: 0px;
}
.nav__github--linkedin a{
    margin: .5rem;
    color: rgba(240, 248, 255, 0.829);
    display: flex;
    align-items: center; 
    flex-direction: row;
    padding: none;
}
svg{
    fill: rgba(240, 248, 255, 0.829);
}





/*///////////////////////////////////////////////////// animaciones  */
.texto-con-linea {
    position: relative; /* para que el contenedor con la linea con position absolute se acople */
    display: inline-block; /*  */
    cursor: pointer;/* cambia el cursor para indicar que este elemto es interactivo */
    transition: width 1s ease-in-out;

  }

  .linea {
    position: absolute; /* se posiviona el div con respecto a el contendor padre*/
    bottom: 0; /* se mueve el ccontenedor al fondo */
    left: 50%;/* inicialmente estara al centro del contendor */
    transform: translateX(-50%);  /* se va a ir acomodando a medida que crezaca */
    width: 0; /* la linea inicia con un ancho de 0 */
    height: 4px;
    background-color: #024f83c5;
    transition: width 0.3s ease-in-out;
  }

  .texto-con-linea:hover .linea {
    width: 100%; 
    border: none;
  }
  .texto-con-linea:hover{
    /* border: none; */
    font-size: larger;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9), -1px -1px 4px rgba(255, 255, 255, 0.9);
  }



  @media  screen and (max-width:1200px){
    .nav__sections{
        display: none;
    }
  }
