---
// import WarningSVG from "@/app/SVG/WarningSVG"
---
<>
<div class='alert'>
    <!-- <WarningSVG fill={"#ffff00"}></WarningSVG> -->
    <p>Actualmente, el servicio que me brinda el alojamiento de las bases de datos no está funcionando, por lo que algunos proyectos presentan errores.</p>
</div>
</>

<style>

.alert{
    width: calc(100% - 2px);
    background-color: rgba(255, 0, 0, 0.26);
    padding: none;
    z-index: 2;
    border: 1px solid hwb(60 0% 0%) ;
    display: flex;
    align-items: center;
}

.alert p{
    padding: none;
    margin: 0;
    color: yellow;
    text-align: center;
    width: 100%;
}
</style>